 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{font-family: "Poppins", Times, serif;
background-color: #24262b;
}
.logo {
display: block;
margin: 13px 0px 2px 9px;
width: 250px;
}
.body{
  width: 500px;
  font-size: 16px;
}
.subjudul{
  text-align: center;
  color: #DDAF55;
  margin-bottom: 20px;
}
.form{
  display: block;
  margin-bottom: 5px;
  }
.isian{
  display: block;
  margin-bottom: 1px;
  color: #DDAF55;
}
.NamaLengkap{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
.NamaPanggilan{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
input[type="radio"] {
  display: none;
}
label{
 position: relative;
 color: lightgrey;
 font-family: "Poppins", sans-serif;
 cursor: pointer;
 display: inline-flex;
 align-items: center;
 gap: 0.8em;
 border: 3px solid lightgrey;
 padding: 5px 15px;
 border-radius: 0.5em;
 margin-bottom: 30px;
}
label:before{
  content: "";
  height: 2em;
  width: 2em;
  border: 3px solid #DDAF55;
  border-radius: 50%;
}
input[type="radio"]:checked + label:before {
  height: 1em;
  width: 1em;
  border: 0.65em solid lightgrey;
  background-color: #DDAF55;
}
input[type="radio"]:checked + label {
  background-color: lightgrey;
  color: black;
}
.TempatTanggalLahir{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
.Kelas{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
.AlamatRumah{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
.Email{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
.NoWhatsApp{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
.Instagram{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
.HobiKeahlian{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
.AlasanBergabungEkskul{
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  background-color: lightgrey;
  color: black;
  border-top: 1px solid #c7c7c7;
  border: 1.5px solid #c7c7c7;
  border-radius: 5px;
  padding: 0.7rem;
  margin: 0.1rem 0 2rem 0;
  font-size: 1rem;
  outline: 0;
}
.tombol{
  background: #DDAF55;
  color: white;
  padding: 10px 15px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.footer{
	margin:0;
	padding:0;
	box-sizing: border-box;
	width: 100%;
}
.logo1{
  width: 90%;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
  padding: 70px 0;
  margin-top: 0%;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 65%;
}
}